@{
    ViewBag.Title = "Contact";
}

@{ 
    int numero = 123;
    string nombre  = "Nombre";

}
<p>@nombre</p>
@*Holaaaa*@

@if (numero < 100)
{
    <h3>El numero es mador de 100</h3>
}
else
{
    <h3>El Numero  es menor de 100</h3>
}