@model ProyectoºMVC.Models.ClienteIndex

@{ ViewBag.Title = "PaginadorIndex"; }

<h2>Paginador Index</h2>

<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Email</th>
    </tr>
    @foreach (var Cliente in Model.clientes)
    {
<tr>
    <td>@Cliente.nombre</td>
    <td>@Cliente.documento.</td>
    <td>@Cliente.email</td>
</tr>}
</table>

@{ Html.RenderPartial("Paginador", Model); }


